hotel_backend/node_modules/
hotel_backend/vendor/
hotel_backend/.env
hotel_backend/storage/*.key
hotel_backend/public/storage
hotel_backend/public/build
hotel_backend/public/hot

hotel_frontend/node_modules/
hotel_frontend/dist/
hotel_frontend/dist-ssr/
hotel_frontend/.env
hotel_frontend/*.local

.git/
.vscode/
.idea/
*.log
